{
  "bot_name": "RF Scalp v1.4",
  "demo_mode": true,
  "trade_gold": true,
  "enabled": true,
  "signal_threshold": 4,
  "position_full_usd": 100,
  "position_partial_usd": 66,
  "sl_mode": "pct_based",
  "tp_mode": "rr_multiple",
  "atr_sl_multiplier": 0.3,
  "sl_min_usd": 2.0,
  "sl_max_usd": 15.0,
  "rr_ratio": 2.5,
  "breakeven_trigger_usd": 5.0,
  "breakeven_enabled": false,
  "margin_safety_factor": 0.6,
  "max_concurrent_trades": 1,
  "max_trades_day": 20,
  "max_losing_trades_day": 8,
  "max_trades_london": 10,
  "max_trades_us": 10,
  "loss_streak_cooldown_min": 30,
  "sl_reentry_gap_min": 10,
  "max_spread_pips": 150,
  "spread_limits": {
    "London": 130,
    "US": 130
  },
  "session_only": true,
  "session_thresholds": {
    "London": 5,
    "US": 4
  },
  "news_filter_enabled": true,
  "news_block_before_min": 30,
  "news_block_after_min": 30,
  "news_lookahead_min": 120,
  "news_medium_penalty_score": -1,
  "friday_cutoff_hour_sgt": 23,
  "friday_cutoff_minute_sgt": 0,
  "account_balance_override": 0,
  "cycle_minutes": 5,
  "db_retention_days": 90,
  "db_cleanup_hour_sgt": 0,
  "db_cleanup_minute_sgt": 15,
  "db_vacuum_weekly": true,
  "calendar_refresh_interval_min": 60,
  "calendar_retry_after_min": 15,
  "sl_pct": 0.0025,
  "tp_pct": 0.0035,
  "fixed_sl_usd": 5.0,
  "fixed_tp_usd": null,
  "margin_retry_safety_factor": 0.4,
  "auto_scale_on_margin_reject": true,
  "telegram_show_margin": true,
  "xau_margin_rate_override": 0.05,
  "trading_day_start_hour_sgt": 8,
  "max_losing_trades_session": 4,
  "exhaustion_atr_mult": 3.0,
  "orb_fresh_minutes": 60,
  "orb_aging_minutes": 120,
  "min_rr_ratio": 2.0,
  "ema_fast_period": 9,
  "ema_slow_period": 21,
  "orb_formation_minutes": 15,
  "calendar_prune_days_ahead": 21,
  "startup_dedup_seconds": 90,
  "atr_period": 14,
  "m5_candle_count": 40,
  "consecutive_sl_block_count": 2,
  "consecutive_sl_block_minutes": 60
}